* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-add {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 50px;


}

.container-list {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 50px;

}

.header {
    padding: 0px 30px;
    background-color: white;
}

.color-body {
    background-color: rgba(211, 211, 211, 0.755);
}

.list-distance {
    margin-top: 5px;
}

.add-distance {
    margin-top: 30px;
}

.tag {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.color-task {
    background-color: rgba(1, 179, 255, 0.995);
}

.color-add {
    background-color: white;
    border: 1px solid rgb(172, 164, 164);
}

.margine{
    margin-top: 20px;
}
.h3-list{
font-size: 20px;
}
.editorial-color {
    background-color: rgb(1, 179, 255, 0.995)

}
.goals-color {
    background-color: rgba(163, 27, 163, 0.794);
}
.recruting-color { background-color: rgb(27, 202, 138);

}
.mobile-color {background-color: orange;

}
.website-color{background-color: rgba(208, 64, 112, 0.733);

}
.sales-color {background-color: rgba(80, 168, 80, 0.822)

}
.tag-list {
    display: inline-block;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 8px;
    color: white;


}
li {
    padding: 5px;
}

ul{
    list-style: none;
}